body {
    background-image: url("images/card0.jpg");
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    color: #638d70;
}

img {
    display: block;
    max-width: 80%;
    height: auto;
}

header {
    text-align: center;
    height: 125px;
    place-content: center;
}


main {    
    /*background-image: url("images/card1.png");
    background-size: 100%; 
    background-repeat: no-repeat;
    width: 900px;*/
    height: 600px;
    margin: auto;
}

section {
    flex: 1;
}

/*#madlib-questions {
    background-image: url("images/card1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display:flex;
    flex:1;
    flex-direction: column;  
    padding: 1.25rem;
}*/

/* Change display: none; to
display: block; so that you can 
design the look of the overlay. */


#madlib-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

}

#madlib-overlay article {
    background-color: rgb(250, 211, 218);
    padding: 30px;
    width: 700px;
    height: 600px;
    margin: auto;
    line-height: 1em;  


}

.border {
    background-image: url(images/border1.png); 
    background-position: top;   
    background-repeat: repeat-x;
    padding-top: 54px;   
    width: 700px;
    height: 75vh;
    position: absolute;
    left: 50%;
    top: 50%;    
    transform: translate(-50%, -50% );
}


#madlib-overlay article span {
    color:rgb(80, 32, 40);
    text-decoration: underline;
}

#madlib-questions {
    background-color: rgb(250, 211, 218);
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: none;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box; 
    width: 700px;
    margin: auto;
}

.box {
  border: 30px solid transparent; /* Essential: defines the border area and ensures fallback */
  border-image: url("path/to/your/image.png") 30% round;
}


form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* This adds the space between the two columns */
}

form input {
    box-sizing: border-box; 
    width: 100%;
    padding: 10px 10px;
    border-radius: 8px;
    border: none;
    font-size: 0.9em;
}

.form-grid {
  gap: 0.75rem 1rem; 
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.35rem; 
}

button {
    color:rgb(100, 129, 104);
    background-color: pink;
    border: none;
    border-radius: 9px;
    padding: 10px;
}

button:hover {
    background-color:rgb(100, 129, 104);
    color: pink;
    transition: .2s ease-in-out;
}

#error {
    color: red;
}

footer {
    text-align: center;
}