header h1 {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    text-align: center;
    padding-top: 250px;
    color: #7C92C9;
    margin: 0;
}

header h2 {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #323E5C;
    text-align: center;
    padding: 0;
}



.star {
  position: absolute;
  width: 24px;
  opacity: 0.8;
}

.star-left {
  top:300px;
  left: 250px;
  transform: rotate(-17deg);
  animation: spin 8s linear infinite;
}

.star-right {
  top: 200px;
  right: 300px;
  transform: rotate(12deg);
  animation: spin 8s linear infinite;
}

.star-up {
  top: 260px;
  right: 250px;
  transform: rotate(12deg);
  animation: spin 8s linear infinite;
}

.star-down {
  top: 240px;
  left: 300px;
  transform: rotate(-17deg);
  animation: spin 8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    color: #323E5C;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    gap: 20px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;  
    max-width: 900px;  

}

.box ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

main h2 {
    font-weight: 500;
}

.box {
  border: 2px solid #6c7fbf;
  border-radius: 16px;
  padding: 24px;
  background-color: #fff;
}

.box h2 {
  text-align: center;
  margin-bottom: 12px;
  color: #2f3a5f;
}

.box li {
    text-align: left;
    padding-bottom: 10px;
}

.box a {
  text-decoration: underline;
  color: #4f63a7;
  font-size: 0.95rem;
}

.box a:hover {
  color: #808db9;
}

footer {
    background-image: url(images/stripe.jpg);
    font-family: "Homemade Apple", cursive;
    color: #323E5C;
    padding-top: 20px;
    text-align: center;
}    

footer address {
    font-family: "Josefin Sans", sans-serif;
    color: #323E5C;
    padding-bottom: 20px;
}

address a:hover {
  color: #808db9;
}