

body {
    background-image: url(images/shelf.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 80%;
}

header {
    text-align: center;
    padding-top: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    color: #242629;
}

p {
    margin: 0;
}

h1 {
    margin-bottom: 0;
}

body {
  margin: 0;
}

.grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: repeat(3, 0.5fr);
  width: 70vw;
  height: 50vh;
  gap: 10px;
  margin: auto;
}

.grid img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  padding: 0;
}