body {
    background-image: url("images/card.jpg");
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(100, 129, 104);
}

header h1 {
    text-align: center;
    margin: auto;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(100, 129, 104);
    font-size: xx-large;
    padding-top: 150px;
}

main form{
    margin: auto;
    justify-content: center;
    padding-top: 300px;
}

form{
    display:flex;
    flex:1;
    flex-direction: column;
    width: 900px;
    height: 320px;   

}
#formQs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 50px;    
    
}

.inputGroup {
    display: flex;
    flex-direction: column;
  }
  
.inputGroup label {
    margin-bottom: 0.25rem;
}
#send-form{
    color: rgb(100, 129, 104);
    width: 225px;
    height: 60px;
    margin: auto;
    border-radius: 15px;
    border:none;
    color: white;
    font-family:"Nanum Gothic Coding", monospace;
    font-size: 2em;
}
#formQs input{
    height: 30px;
    border-radius:5px;
    border: none;
    font-size: 1em;
    padding-left: 9px;
    margin-bottom: -10px;
}

input::placeholder{
    font-size: .87em;
} 

footer {
    margin: auto;
    text-align: center;
    padding-bottom: 100px;
}