body {
    text-align: center;
    padding: 100px;
}

img {
    margin: auto;
}

.photo {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;
  cursor: pointer;
  transition:clip-path 0.9s cubic-bezier(0.22, 1, 0.36, 1),
    border-radius 0.9s cubic-bezier(0.22, 1, 0.36, 1),
    transform 0.6s ease-out;
}

/* Heart shape */
.photo:hover {
  clip-path: polygon(
    50% 90%,
    90% 55%,
    75% 25%,
    50% 35%,
    25% 25%,
    10% 55%
  );
}

.grow {
    width: 250px;
    height: 250px;
    border-radius: 16px;
	transition: all 1s ease;
}

.grow:hover {
	transform: scale(2);
	box-shadow: 2px 2px 20px 1px rgba(0,0,0,0.75);
}

.fade {
  width: 250px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 16px;

  /* smooth fade */
  transition: opacity 0.6s ease;
}

.fade.faded {
  opacity: 0.2; /* how faded you want it */
}


body {
  background-color: #f3f3f3;
  background-image: none;  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.6s ease-in-out;
}

.bg {
  width: 250px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  margin: 10px;
  border-radius: 16px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.bg:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}