body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    margin: 20px 0;
}

main {
    width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    gap: 20px;
    align-items: center;
    justify-items: center;
}

/* Big cup in the center */
main img:first-child {
    grid-column: 2;
    grid-row: 2;
    width: 250px;
}

/* Smaller ingredients */
main img:not(:first-child) {
    width: 70px;
}

/* Ingredient positions */
main img:nth-child(2) {
    grid-column: 1;
    grid-row: 1;
}

main img:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
}

main img:nth-child(4) {
    grid-column: 1;
    grid-row: 3;
}

main img:nth-child(5) {
    grid-column: 3;
    grid-row: 3;
}*/

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Overlay screen */
#overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#2c3e2f;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:10;

    opacity:1;
    transition:opacity 0.8s ease;
}

/* Fade class */
#overlay.fadeOut{
    opacity:0;
    pointer-events:none;
}

/* Game screen */
#game{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

/* Play button */
#playBtn{
    padding:15px 30px;
    font-size:20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}