header h1 {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    text-align: center;
    padding-top: 250px;
    color: #7C92C9;
    margin: 0;
}


article {    
    max-width: 600px;
    gap: 20px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 100px;  
    max-width: 900px;


}

/*article p {
    border: 2px solid #6c7fbf;
    border-radius: 16px;
    padding: 24px;
    background-color: #fff;  
}*/

figure {
    text-align: center;
}

div {
    border: 2px solid #6c7fbf;
    border-radius: 16px;
    padding: 24px;
    background-color: #fff;  
}

body {
    font-family: "Josefin Sans", sans-serif;
    color: #323E5C;
}

header li {
    margin: 0 auto;
    font-family: "Josefin Sans", sans-serif;
    color: #323E5C;
    list-style-type: none;
    padding: 40px;
    text-align: center;
}

li a:hover {
  color: #808db9;
}

footer {
    background-image: url(images/stripe.jpg);
    font-family: "Homemade Apple", cursive;
    color: #323E5C;
    padding-top: 30px;
    text-align: center;
}    

footer address {
    font-family: "Josefin Sans", sans-serif;
    color: #323E5C;
    padding-bottom: 20px;
}

address a:hover {
  color: #808db9;
}